@using TotalBase.Enums;
@using TotalPortal.Configuration

@model TotalPortal.Areas.Purchases.ViewModels.GoodsArrivalViewModel

<div id="popupWindow"></div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "MainForm" }))
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Helpers/Bases/_BaseSectionTop.cshtml")
    @Html.HiddenFor(model => model.TotalQuantity)
    @Html.HiddenFor(model => model.TotalPackages)

    @Html.HiddenFor(model => model.GoodsArrivalID)
    @Html.HiddenFor(model => model.HasPurchaseOrder)

    <div class="left-panel">

        @Html.Partial("~/Views/Helpers/Bases/_BaseSectionLeftA.cshtml")

        <div class="form-group">
            @Html.LabelFor(model => model.Code)
            <div class="div-input">
                @Html.Kendo().MaskedTextBoxFor(model => model.Code).HtmlAttributes(new { @class = "left-panel-input" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.PurchaseOrderID)
        @Html.HiddenFor(model => model.PurchaseOrderCode)
        @Html.HiddenFor(model => model.PurchaseOrderReference)
        @if (Model.HasPurchaseOrder)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderReferenceNote)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.PurchaseOrderReferenceNote).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                </div>
                <div class="div-validation-message">
                    @Html.ValidationMessageFor(model => model.PurchaseOrderReferenceNote, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PurchaseOrderCodeNote)
                <div class="div-input">
                    @Html.Kendo().MaskedTextBoxFor(model => model.PurchaseOrderCodeNote).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                </div>
                <div class="div-validation-message">
                    @Html.ValidationMessageFor(model => model.PurchaseOrderCodeNote, "", new { @class = "text-danger" })
                </div>
            </div>

            if (Model.PurchaseOrderEntryDate != null)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.PurchaseOrderEntryDate)
                    <div class="div-input">
                        @Html.Kendo().DateTimePickerFor(model => model.PurchaseOrderEntryDate).HtmlAttributes(new { @class = "left-panel-input", @readonly = "readonly" })
                    </div>
                    <div class="div-validation-message">
                        @Html.ValidationMessageFor(model => model.PurchaseOrderEntryDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        }
        else
        {
            @Html.EditorFor(d => d.Code)
        }

        <div class="form-group">
            @Html.EditorFor(d => d.Salesperson, new { EmployeeDisplayName = @Model.GetDisplayName(m => m.Salesperson) })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PromotionVouchers)
            <div class="div-input">
                @Html.Kendo().MaskedTextBoxFor(model => model.PromotionVouchers).HtmlAttributes(new { @class = "left-panel-input" })
            </div>
            <div class="div-validation-message">
                @Html.ValidationMessageFor(model => model.PromotionVouchers, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>

    <div class="right-panel">

        <div class="right-top-panel right-top-panel-H2">

            @Html.EditorFor(d => d.Customer, new { CustomerDescriptionHidden = "true", CustomerDisplayName = @Model.GetDisplayName(m => m.Customer) })
            @Html.EditorFor(d => d.Transporter, new { CustomerDescriptionHidden = "false", CustomerDisplayName = @Model.GetDisplayName(m => m.Transporter), CustomerIcon = "Customer Red 24.png" })

            @Html.DisplayFor(d => d.Warehouse, "Commons/WarehouseBase")
        </div>

        <div class="div-k-grid-detail">
            @(Html.Kendo().Grid(Model.GoodsArrivalViewDetails)
                .Name("kendoGridDetails")
                .Columns(columns =>
                {

                    columns.Bound(p => p.GoodsArrivalDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= GoodsArrivalDetailID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].GoodsArrivalDetailID' value='#= GoodsArrivalDetailID #' />");
                    columns.Bound(p => p.GoodsArrivalID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= GoodsArrivalID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].GoodsArrivalID' value='#= GoodsArrivalID #' />");

                    columns.Bound(p => p.PurchaseOrderID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (PurchaseOrderID == null)? '' : PurchaseOrderID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].PurchaseOrderID' value='#= (PurchaseOrderID == null) ? '' : PurchaseOrderID #' />");
                    columns.Bound(p => p.PurchaseOrderDetailID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (PurchaseOrderDetailID == null)? '' : PurchaseOrderDetailID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].PurchaseOrderDetailID' value='#= (PurchaseOrderDetailID == null) ? '' : PurchaseOrderDetailID #' />");

                    columns.Bound(p => p.PurchaseOrderCode).DisplayNameTitle().Width(60).Hidden()
                        .ClientTemplate("#= (PurchaseOrderCode == null)? '' : PurchaseOrderCode #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].PurchaseOrderCode' value='#= (PurchaseOrderCode == null) ? '' : PurchaseOrderCode #' />");
                    columns.Bound(p => p.PurchaseOrderReference).DisplayNameTitle().Width(60).Hidden(@Model.HasPurchaseOrder && @Model.PurchaseOrderID == null ? false : true)
                        .ClientTemplate("#= (PurchaseOrderReference == null)? '' : PurchaseOrderReference #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].PurchaseOrderReference' value='#= (PurchaseOrderReference == null) ? '' : PurchaseOrderReference #' />");
                    columns.Bound(p => p.PurchaseOrderEntryDate).DisplayNameTitle().Width(80).Hidden(@Model.HasPurchaseOrder && @Model.PurchaseOrderID == null ? false : true)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (PurchaseOrderEntryDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', PurchaseOrderEntryDate) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].PurchaseOrderEntryDate' value='#= (PurchaseOrderEntryDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', PurchaseOrderEntryDate) #' />");


                    columns.Bound(p => p.CommodityID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= CommodityID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].CommodityID' value='#= CommodityID #' />");
                    columns.Bound(p => p.CommodityName).DisplayNameTitle().Width(90).HtmlAttributes(new { style = "" }).Hidden()
                        .ClientTemplate("#= CommodityName #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].CommodityName' value='#= CommodityName #' />");
                    columns.Bound(p => p.CommodityCode).DisplayNameTitle().Width(200).EditorTemplateName(@Model.HasPurchaseOrder ? "StringReadonly" : "AutoCompletes/CommodityAvailable")
                        .ClientFooterTemplate("TC (#= kendo.format('{0:n0}', count) # dòng)")
                        .ClientTemplate("<div> #= CommodityCode #</div>" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].CommodityCode' value='#= CommodityCode #' />");

                    columns.Bound(p => p.CommodityTypeID).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= CommodityTypeID #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].CommodityTypeID' value='#= CommodityTypeID #' />");

                    columns.Bound(p => p.Shelflife).DisplayNameTitle().HtmlAttributes(new { @class = "grid-column-center" }).HeaderHtmlAttributes(new { @style = "text-align: center" }).Width(50)
                        .ClientTemplate("#= (Shelflife == null)? '' : Shelflife #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].Shelflife' value='#= (Shelflife == null) ? '' : Shelflife #' />");                    
                    
                    columns.Bound(p => p.SealCode).DisplayNameTitle().Width(50)
                        .ClientTemplate("#= (SealCode == null)? '' : SealCode #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].SealCode' value='#= (SealCode == null) ? '' : SealCode #' />");
                    columns.Bound(p => p.BatchCode).DisplayNameTitle().Width(50)
                        .ClientTemplate("#= (BatchCode == null)? '' : BatchCode #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].BatchCode' value='#= (BatchCode == null) ? '' : BatchCode #' />");
                    columns.Bound(p => p.LabCode).DisplayNameTitle().Width(50)
                        .ClientTemplate("#= (LabCode == null)? '' : LabCode #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].LabCode' value='#= (LabCode == null) ? '' : LabCode #' />");

                    columns.Bound(p => p.ProductionDate).DisplayNameTitle().Width(80)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (ProductionDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ProductionDate) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].ProductionDate' value='#= (ProductionDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ProductionDate) #' />");
                    columns.Bound(p => p.ExpiryDate).DisplayNameTitle().Width(80)
                        .Format("{0:" + @Settings.DateFormat + "}")
                        .ClientTemplate("#= (ExpiryDate == null)? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ExpiryDate) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].ExpiryDate' value='#= (ExpiryDate == null) ? '' : kendo.format('{0:" + @Settings.DateFormat + "}', ExpiryDate) #' />");
                                        
                    columns.Bound(p => p.QuantityRemains).DisplayNameTitle().Width(50).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Hidden(@Model.HasPurchaseOrder ? false : true)
                        .Format(Settings.kfmQuantity)
                        .ClientFooterTemplate("#= kendo.format(Settings.kfmQuantity, sum) #")
                        .ClientTemplate("#= kendo.format(Settings.kfmQuantity, QuantityRemains) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].QuantityRemains' value='#= QuantityRemains #' />");
                    columns.Bound(p => p.Quantity).DisplayNameTitle().HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(50)
                        .Format(Settings.kfmQuantity)
                        .ClientFooterTemplate("#= kendo.format(Settings.kfmQuantity, sum) #")
                        .ClientTemplate("#= kendo.format(Settings.kfmQuantity, Quantity) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].Quantity' value='#= Quantity #' />");

                    columns.Bound(p => p.UnitWeight).DisplayNameTitle().Filterable(false).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(90)
                        .Format(Settings.kfmQuantity)
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', UnitWeight) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].UnitWeight' value='#= UnitWeight #' />");

                    columns.Bound(p => p.Packages).DisplayNameTitle().Filterable(false).HtmlAttributes(new { @class = "grid-number-column" }).HeaderHtmlAttributes(new { @style = "text-align: right" }).Width(90)
                        .Format(Settings.kfmQuantity)
                        .ClientFooterTemplate("#= kendo.format('" + Settings.kfmQuantity + "', sum) #")
                        .ClientTemplate("#= kendo.format('" + Settings.kfmQuantity + "', Packages) #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].Packages' value='#= Packages #' />");

                    columns.Bound(p => p.Remarks).DisplayNameTitle().Hidden()
                        .ClientTemplate("#= (Remarks == null)? '' : Remarks #" + "<input type='hidden' name='GoodsArrivalViewDetails[#= index(data) #].Remarks' value='#= (Remarks == null) ? '' : Remarks #' />");

                    columns.Command(command => { command.Destroy().Text("<span class='command' ></span>"); }).Width(50).Hidden(!@Model.Editable).HtmlAttributes(new { @class = "grid-column-center" });
                })
                    .Filterable(f => f.Enabled(false))
                    .Navigatable()

                    .ToolBar(toolbar =>
                    {
                        if (Model.Editable)
                        {
                            //toolbar.Create().HtmlAttributes(new { @class = "fa fa-map-marker" }).Text("Add new aa le ea1");
                            if (Model.HasPurchaseOrder == true)
                                toolbar.Template(@<text>
                                    <button type="button" class="k-button" onclick="GetPendingGoodsIssueDetails()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Chọn mặt hàng từ đơn đặt hàng </button>
                                    <button type="button" class="k-button" onclick="copyRemainsToQuantity()"> <img src="~/Content/Images/Mains/Size24/Borderlands-Select-icon-24.png" /> Giao hàng toàn bộ đơn hàng </button>

                                    <button type="button" class="k-button" onclick="duplicate()"> <img src="~/Content/Images/Mains/Size24/Borderlands-Select-icon-24.png" /> Duplicate </button>
                                </text>);
                            else
                                toolbar.Template(@<text>
                                <button type="button" class="k-button" onclick="$('#kendoGridDetails').data('kendoGrid').addRow()"> <img src="~/Content/Images/Mains/Size24/Actions-bookmark-add-icon-24.png" /> Thêm mặt hàng </button>
                                </text>);
                        }
                        else
                        {//Add a functionless button for display purpose only
                            toolbar.Template(
                                @<text>
                                    <div>
                                        @(Html.Kendo().Button()
                                            .Name("iconButton")
                                            .HtmlAttributes(new { type = "button" })
                                            .SpriteCssClass("k-icon k-i-ungroup") //.Content("My button label")
                                        )
                                    </div>
                                </text>);
                        }
                    })

                    .Editable(editable => { editable.Enabled(Model.Editable); editable.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(true).CreateAt(GridInsertRowPosition.Bottom); })
                    .Selectable(settings =>
                    {
                        settings.Mode(GridSelectionMode.Multiple);
                        settings.Type(GridSelectionType.Row);
                    })
                    .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .ServerOperation(false)
                .Model(model =>
                {
                    model.Id(x => x.GoodsArrivalDetailID);
                    model.Field(m => m.GoodsArrivalDetailID).DefaultValue(0);
                    model.Field(m => m.GoodsArrivalID).DefaultValue(@Model.GoodsArrivalID);
                })
                .Events(events =>
                {
                    events.Error("kendGrid_ErrorHandler");
                })
                .Aggregates(a => a.Add(x => x.CommodityCode).Count())
                .Aggregates(a => a.Add(x => x.QuantityRemains).Sum())
                .Aggregates(a => a.Add(x => x.Quantity).Sum())
                .Aggregates(a => a.Add(x => x.Packages).Sum())
                )
            )
        </div>

        <div class="div-k-panel">
            @(Html.Kendo().PanelBar()
                .Name("IntroPanelBar")
                .Items(items =>
                {
                    items.Add()
                        .Text("Thông tin khác")
                        .Selected(true)
                        .Expanded(false)
                        .Content(@<text>
                            <div class="right-first-panel">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Description, new { @class = "right-panel-label" })
                                    <div class="div-input">
                                        @Html.Kendo().MaskedTextBoxFor(model => model.Description).HtmlAttributes(new { @class = "right-panel-input" })
                                    </div>
                                    <div class="div-validation-message">
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="right-second-panel">
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/PreparedPerson.cshtml")
                                @Html.Partial("~/Views/Shared/EditorTemplates/DropDowns/Approver.cshtml")
                            </div>

                        </text>).HtmlAttributes(new { @class = "panel-class" });
                })
            )
        </div>


        <div class="right-botton-panel">
            @if (Model.Editable)
            {
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", "GoodsArrivals")" onclick="$('#Approved').val(false);"> <img src="~/Content/Images/New/save-icon.png" /> Lưu </button>
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", "GoodsArrivals")" onclick="$('#Approved').val(true);"> <img src="~/Content/Images/New/save-verify-icon.png" /> Lưu và duyệt </button>
                <button type="submit" class="k-button custom-button SubmitTypeOption-Closed" formaction="@Url.Action("Edit", "GoodsArrivals")" onclick="$('#Approved').val(true); $('#PrintAfterClosedSubmit').val(true);"> <img src="~/Content/Images/New/Save-Print-32.png" /> Lưu, duyệt và in </button>
            }
            else
            {
                if (Model.Approved && !Model.Approvable && !Model.UnApprovable)
                {
                    <button type="button" class="k-button custom-button" onclick="location.href='@Url.Action("Approve", "GoodsArrivals", new {id = @Model.GoodsArrivalID })'"> <img src="~/Content/Images/Mains/Cross-icon-cancel32.png" /> Hủy duyệt </button>
                }
            }

            @if (Model.GoodsArrivalID > 0)
            {
                <button type="button" class="k-button custom-button" onclick="location.href='@Url.Action("Print", "GoodsArrivals", new { id = @Model.GoodsArrivalID })'"> <img src="~/Content/Images/New/Apps-printer-icon.png" /> In </button>
            }
            
        </div>

        @Html.Partial("~/Views/Helpers/Bases/_BaseSubmit.cshtml")

        @if (Model.Editable && !Model.HasPurchaseOrder)
        {
            <div><input style="font-size: 11px;" type="file" name="xlfile" id="xlf" /></div>
        }

    </div>
}


<script src="@Url.Content("~/Scripts/Helpers/KendoGrid/gridHelper.js")"></script>
<script src="@Url.Content("~/Scripts/Controllers/Sales/PurchaseOrders/Import.js")"></script>

<script type="text/javascript">
    function GetPendingGoodsIssueDetails() {
        require(["kpopupWindow"], function (kpopupWindow) {
            var createWizardWindow = new kpopupWindow();
            createWizardWindow.openWindow($("#popupWindow"), "@Url.Action("GetPendingPurchaseOrderDetails", "GoodsArrivals", new { area = "Purchases" })", "Chọn mặt hàng từ đơn đặt hàng", "@Settings.PopupWidthLarge", "@Settings.PopupHeightWithTab");
        });
    }

    function duplicate() { //https://www.telerik.com/forums/copy-row-in-the-grid
        var kenGrid = $("#kendoGridDetails").data("kendoGrid");
        var selectedItem = kenGrid.dataItem(kenGrid.select());
        if (selectedItem != undefined) {
            var newItem = selectedItem.toJSON();
            newItem.GoodsArrivalDetailID = 0; newItem.Quantity = 0;

            var idx = kenGrid.dataSource.indexOf(selectedItem); // Get the index in the DataSource (not in current page of the grid) https://stackoverflow.com/questions/24931390/kendo-ui-grid-inline-insert-new-row-at-a-specific-position-on-the-grid
            kenGrid.dataSource.insert(idx, newItem);
        }
    }

    window.urlCommoditiesApi = '@Url.Action("GetCommodityImport", "CommodityAPIs", new { area = "Commons" })';
</script>
